[package]
name = "rusty_capacitance_model_core"
version = "1.3.0"
edition = "2021"

[lib]
name = "rusty_capacitance_model_core"
crate-type = ["cdylib"]

[dependencies]
ndarray = "0.15.6"
numpy = "0.19.0"
itertools = "0.11.0"
rayon = "1.8.0"
osqp = "0.6.2"
cached="0.45.1"

[dependencies.pyo3]
version = "0.19.2"
features = ["extension-module"]

[profile.release]
codegen-units = 1
lto = true