[package]
name = "rusty_capacitance_model_core"
version = "1.0.0"
edition = "2021"

[lib]
name = "rusty_capacitance_model_core"
crate-type = ["cdylib"]

[dependencies]
ndarray = "0.15.6"
numpy = "0.19.0"
itertools = "0.11.0"
rayon = "1.7.0"

[dependencies.pyo3]
version = "0.19.2"
features = ["extension-module"]